.App_calendar_month {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
  justify-content: center;
 
  gap:15px;
}
.App_calendar_month>div {
  border: solid 1px ;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding-top: 11px;
}

.App_calendar_dayOf {
 
  text-align: right;
  padding-right: 8px;
}
.App_calendar_dayOf {
  font-weight: bold;
}